@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$primary-color: #00529e;

@mixin uselessMixin {
    font-family: $font;
    color: $primary-color;
}

body {
  @include uselessMixin();
}

main {
    margin-top: 1em;
}

